//////////////////////
// FOOTER
//////////////////////

#colophon{
    background:#2b2b2b;
	height:auto;
    font-family: $font;
    overflow: hidden;
    text-align: center;
    padding: 2em 0;
    h3{
        margin: .5em 1em;
        font-size: 2.5rem;
        color: #fff;
        font-weight: normal;
        a{
            color: #fff;
            text-decoration: underline;
        }
    }
}
