#masthead{
    background: $primary-lighter;
        .site-branding{
            position: relative;
            padding: 0;
            vertical-align: top;
            .logo{
                text-align: center;
                padding: 1em 0;
                 img{
                    width: auto;
                    height: auto;
                }
            }
        }
		.site-title{
			color:#fff; 
            padding: 0; margin:0;
            font-size:4rem;
            line-height: 4rem;
            font-weight: bold;
            a{color: #fff;}
            span{
                font-weight: normal;
                font-size: 3rem;
            }
		}
}
