.main-navigation{
    background:$primary;
}
#nav {
  z-index: 200;
  position: relative;
  width: 100%;
  color: #fff;
}

ul#primary-menu{
    margin: 0; padding: 0;
    list-style: none;
    text-align: center;
    > li{
        display: inline-block;
        margin: 0; padding: 0;
        a{
            display: block;
            min-height: auto;
            padding: 1.2em 1em;
            margin: 0; 
            font-size: 1.8rem;
            line-height: 3rem;
            font-family: $font;
            font-weight: normal;
            text-transform: uppercase;
            @include smooth(200ms);
            color: #fff;
        }
        &:hover a{
            background: $primary;
            color: #fff;
            text-decoration: none;
            @include smooth(200ms);
        }
    }
    li.menu-item-has-children{ // menu parent
        position:relative;
        > a:after{
            display: inline-block;
            content: '\f107';
            font-family: 'FontAwesome';
            font-size: 1.8rem;
            margin: -.2em 0 0 .5em;
        }
        &:hover > ul.sub-menu{ // les sous menu activé en hover
            display: block;
            position:absolute;
            z-index: 1000;
            width: 300px;
            margin: 0; padding: 0;
            list-style: none;
            text-align: left;
        }
    }
    > li ul.sub-menu{ // sous menu désactivé
        display: none;
        > li a{
            padding: 1em 0 1em .8em;
            min-height: inherit;
            color: #fff;
            font-size: 1.6rem;
            font-family: $font;
            text-transform: none;
            border-bottom: solid 1px $primary-dark;
            &:hover{
                padding: 1em 0 1em 1.2em;
                background: $primary-dark;
            }
            &:before{
                display: inline-block;
                margin: 0 0 .3em 0;
                content: '\f105';
                font-family: 'FontAwesome';
                font-style: 1.8rem;
            }       
        }
        li:last-child > a {
            border: none;
        }
    }
    li.current-menu-item > a,
    li.current_page_ancestor > a{
        background: $second;
        color: $primary;
        font: $font 700;
        color: #fff;
    }
    li.current_page_ancestor ul li.current-menu-item > a{
        background: $primary-dark;
    }
}
