/// LES GRANDS ECRANS
@media (max-width:1650px){  
    .site-branding{
        img{
            margin: 0 auto;
        }
    }    
}

/// EN DESSOU DE 1040PX
@media (max-width:1040px){
    /// LOGO
    .logo{
        img{
            max-width: 50%;
            height: auto;
            margin: 0 auto;
        }
    }
    .site-title{
        margin: .4em 0 0 0;
        font-size:3rem !important;
        line-height: 2.6rem;
        span{
            font-size: 2rem !important;
        }
    }    
    /// PHONE
    #masthead{
        .phone{
            margin: 0;
            font-size: 1.8rem;
            line-height: 2rem;
            a{
                font-size: 2.4rem;
                line-height: 2.8rem;
            }
        }
    }   
    

    /// BLOC HOME
    .partenaires{
        h2{
            font-size: 1.8rem;
            &:before{
                font-size: 1.8rem;
            }
        }
        .textwidget > .bloc {
            p{
                font-size: 1.4rem;
            }
            &.iso3{
                background-position: 10px 10px;
            }
            &.jpp{
                background-position: 10px 10px;
            }        
        }
    }  

    /// BLOC PRESTATION
    .prestations{
        .menu-menu-prestations-container{
            ul{         
                li{
                    a{
                        font-size: 1.8rem;
                    }
                }
            }
        }
    } 
    
    //////////////////////
    // BOTTOM ACCUEIL
    //////////////////////
    .sallebain{
        .textwidget{
            background-position: top right;
        }
    }

    .etude{
        a{
            font-size: 3rem;      
            span{
                font-size: 4.8rem;
            }
        }
    }      

}



/// DE L'IPAD HORIZONTAL A 1200PX
@media (min-width:1024px) and (max-width:1279px){

    /// SIDEBAR   
    #secondary .widget-title{
        font-size: 2rem;
    }       
    #secondary .widget_nav_menu{
        .menu{
            li{
                a{
                    font:1.8rem $font;
                }
            }
        }
    }
    
    
    
}


/// IPAD HORIZONTAL ET VERTICAL

@media (min-width:768px) and (max-width:1024px){ 
    
    /// MENU
    ul#primary-menu{
        > li{
            a{
                min-height: auto;
                padding: .5em .6em;
                font-size: 1.6rem;
            }
        }
        li.menu-item-has-children{ // menu parent
            > a:after{
                font-size: 1.2rem;
            }
        }
        li.menu-item-has-children ul.sub-menu li a{
            padding: .4em .8em;
            font-size: 1.4rem !important;
        }
    }
    #masthead-suite ul#primary-menu{
        > li{
            a{
                min-height: auto;
                padding: .4em;
                font-size: 1.4rem;
            }
        }        
    }
    
    
    //////////////////////
    // BOTTOM
    //////////////////////
    #bottom{
        h3{
            font-size: 1.4rem;
            line-height: 1.4rem;
            &:after, &:before {
                display: none
            }     
        }
        img{max-width: 100%; height: auto;} 
    }    
   
    

}



/// AU DESSUS DE 768PX

@media (min-width:768px){
    /// MENU
    .nav-btn,
    .nav-txt,
    #closebtn{display: none;}   
    
}


/// EN DESSOUS DE 800PX
@media (max-width:800px){
    /// LOGO
    #masthead{
        background: rgba(0,0,0,0.5);
        text-align: center;
    }
    /// LOGO
    .logo{
        img{
            max-width: 70%;
            height: auto;
            margin: 0 auto;
        }
    }    
    .site-title{
        font-size:3rem !important;
        line-height: 3rem;
        span{
            font-size: 2rem !important;
        }
    }
    
    
    /// SIDEBAR   
    #secondary .widget-title{
        font-size: 1.4rem;
    }       
    #secondary .widget_nav_menu{
        .menu{
            li{
                a{
                    font:1.2rem $font;
                }
            }
        }
    }
        

    /// FOOTER
    #colophon{
        h3{
            font-size: 1.8rem;
        }
    }

}

/// EN DESSOUS DE 768PX
@media (max-width:768px){
        
    
    /// MENU
    body {
      position: relative;
      width: 100%;
      min-width: 20em;
    }
  
    a.nav-btn{
        display: inline-block;
        border: none !important;
        background: $primary;
        color: #fff;
        height: auto;
        width: 100%;
        padding: .5em;
        margin: 0 auto;
        font: 2.4rem $font;
        outline: inherit;
        text-transform: uppercase;
        text-align: left;
        &:focus, &:active{
            outline: inherit;
        }
    }
    
    #closebtn{
        display: block;
        margin: 1em 0;
        font-size: 1.4rem;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        position: absolute;
        top: -3.75em;
        left: 1.875em;        
        &:after{
            display: inline-block;
            content: '\f00d';
            font-family: FontAwesome;
            font-size: 1.8rem;
            color: #fff;
            margin-left:8px;
        }
    }
    
    //////////
    
    #page{
      position: relative;
      overflow: hidden;
      width: 100%;
    }
    #inner-wrap {
      position: relative;
      width: 100%;
    }
    .site-branding{
        overflow: hidden;
    }
    #nav{
       z-index: 200;
        position: absolute;
        top: 0;
        padding-top: 5.25em;
      overflow: hidden;
      width: 100%;
      color: #fff;           
        .menu-menu-principal-container{
           position: relative;
          margin: 0 auto;
          padding: 1.5em 1.25em;
          max-width: 60em;       
        }        
    }
  #nav:not(:target) {
    z-index: 0;
    height: 0;
  }    
  .js-ready #nav {
    height: 100%;
    width: 70%;
    background: $primary;
    -webkit-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
  }
  .js-ready #nav .block {
    background: transparent;
  }
  .js-ready #nav .close-btn {
    display: block;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
  }
  .js-ready #nav .close-btn:focus, .js-ready #nav .close-btn:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }

  .js-ready #nav {
    left: -70%;
  }
  .js-ready #inner-wrap {
    left: 0;
  }

  .js-nav #inner-wrap {
    left: 70%;
  }

  .csstransforms3d.csstransitions.js-ready #nav {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .csstransforms3d.csstransitions.js-ready #inner-wrap {
    left: 0 !important;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .csstransforms3d.csstransitions.js-nav #inner-wrap {
    -webkit-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    -moz-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    -o-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
  }

  .csstransforms3d.csstransitions.js-ready #nav .menu-menu-principal-container {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 300ms 100ms, -webkit-transform 500ms ease;
    -webkit-transition-delay: ease, 0s;
    -moz-transition: opacity 300ms 100ms ease, -moz-transform 500ms ease;
    -o-transition: opacity 300ms 100ms ease, -o-transform 500ms ease;
    transition: opacity 300ms 100ms ease, transform 500ms ease;
    -webkit-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
    -moz-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
    -ms-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
    -o-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
    transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }

  .csstransforms3d.csstransitions.js-nav #nav .menu-menu-principal-container {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }    
    
    //////////
    
    #primary-menu > li{
        display:block !important;
        clear: both;
        text-align: left;
        border-bottom: solid 1px $primary-dark;
        width: auto;
        height: auto;
        overflow: hidden !important;
        white-space: inherit !important;
        background: none !important;
        &:first-child{
            border-top: solid 1px $primary-dark;
        }
        > a{
            min-height: inherit !important;
            font-size: 1.4rem;
            padding: .3em .5em !important;
            overflow: hidden;
        }
    }
   ul#primary-menu > li ul.sub-menu{ // sous menu désactivé
        display: block;
        list-style: none;
        padding: 0;
        border-top: solid 1px $primary-dark;
        width: auto!important;
        height: 100% !important;
        left: inherit;
        margin: 0;
       background: none !important;
        > li a{
            text-transform: none !important;
            padding: .3em 0 .3em .8em !important;
        }
        > li > ul.sub-menu > li a{
            background: none !important;
            padding: .3em 0 .3em 1.2em !important;
        }
    }
    li.menu-item-has-children {
        position:inherit !important;
        &:focus{
            background: none !important;
        }
        &:hover > ul.sub-menu {
            position: inherit !important;
            top:inherit !important;
            left:inherit !important;
            float: none !important;
            width: auto !important;
        }
        > a:after{
            display: none !important;
        }
    }
    
    ul.sub-menu > li.menu-item-has-children{ // sous sous menu parent
        > a:focus{
            background: none !important;
        }
        > a:after{
            display: none !important;
        }
    }
    li.current_page_ancestor > a{
        background: none !important;
    }
    ul.sub-menu > li.menu-item-has-children{ // sous sous menu
        > ul.sub-menu{
            border-top: none !important;
            border-bottom: solid 1px $primary-dark;
            width: auto !important;
        }
    }    
    
    ///////// fin du menu
        
    
}

@media (max-width:667px){
    /// LOGO
    .site-branding {
        min-height: inherit !important;
        height: auto !important;
        overflow: hidden;
        position: inherit !important; 
        img{
            max-width: 80%;
            height: auto; 
            position: inherit !important
        }
    }
    
        
    /// HOME
    .home .entry-content{
        .readon{
            float: none;
            margin: .5em 0 0 0;
            width: 100%;
        }
    }


    
    /// CONTENU
    p#breadcrumbs{
        margin: .5em 0;
    }
    .entry-header, .page-header{
        margin: 0;
    }    
    .entry-title, .page-title{
        font-size: 2.8rem;
    }
    .entry-content{
        padding: 0;
    }    

    .error-404{
        .page-header{
            .page-title{
                 font-size: 4rem;
            }
        }
    }
 

    /// SIDEBAR   
    #secondary .widget-title{
        font-size: 2.6rem;
    }       
    #secondary .widget_nav_menu{
        .menu{
            li{
                a{
                    font:2.4rem $font;
                }
            }
        }
    }
   
    
    
    /// FOOTER
    #bottom{display: none}
    #colophon{
        background-image:none;
        h3{display: none;}
         .menu-menu-du-bas-container{
                margin: 1em 0;
                padding: 0;
                .menu{            // les menus du footer
                    text-align: center;
                    > li{
                        clear: both !important;
                        display: block;
                        margin: .4em 0;
                    }
                }        
            }
            .deco{
                display: none;
            }        
    }
    .ia{text-align: center;}
   
    
}

@media (min-width:414px) and (max-width:667px){

}


@media (max-width:414px){

    
}
