$template_directory_uri: "../img";
@function get-path-to-assets($template_directory_uri){
  @return $template_directory_uri;
}

// Couleurs principales
$primary:		   #439ab3;  // vert
$primary-light:    lighten($primary, 18%);
$primary-lighter:  lighten($primary, 10%);
$primary-dark:     darken($primary, 5%);

$second:           #e6a800; // jaune
$second-light:     lighten(#e6a800, 20%); // jaune clair

$third:           #5fa9d8; // bleu ciel

$red:           #b80f24;
$red-light:     #d02036;


// LES GRIS
$gray-base:		#000;
$gray-darker:  lighten(#000, 9%); // #141414
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 42%); // #555
$gray-light:   lighten(#000, 78%); // #c6c6c6
$gray-lighter: lighten(#000, 93.5%); // #eee

// LES COULEURS
$brand-primary: darken(#d0043c, 6.5%); // #337ab7
$brand-success: #95d03a;
$brand-info:    #5fa9d8;
$brand-warning: #f0ad4e;
$brand-danger:  #d9534f;

// MIXINS

// les arrondis
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;    
}

// Box shadow
@mixin box-shadow($string){
	-webkit-box-shadow: $string;
	-moz-box-shadow:    $string;
	box-shadow:         $string;
}

// effect
@mixin smooth($time){
    transition-property: all;
    transition-duration: $time;
    transition-timing-function: ease;
}


img {
    max-width: 100%;
    width: 100%;
}

a:focus,
a:active{
    outline:0 !important;
}

.alignleft{
    float: left;
    width: auto;
    margin: 0 1em 1em 0;
}
.alignright{
    float: right;
    width: auto;
    margin: 0 0 1em 1em;
}
.aligncenter{
    text-align: center !important; 
    margin: .5em auto;
    width: auto !important; 
    float: none !important; 
    display: inline !important; 
    height: auto;
}

.alignnone {
    width: auto;
    float: none;
}

// LES BOUTONS
.bouton{
    display: inline-block;
    padding: .3em .5em;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-family: $font-b;
    text-align: center;
    clear: both;
    @include smooth(300ms);
    @include border-radius(2px);
    &:hover{
        @include smooth(300ms);
        text-decoration: none;
        color: #fff;
    }
}
// READMORE ET BOUTON
.readon, .zemore{
    @extend .bouton;
    color: $primary !important; 
    border:solid 1px $primary;
    background: #fff;
    &:hover{
        color: #fff !important;
        background:$primary;
    }
}
.readon-b{ // bouton noir
    @extend .bouton;
    color: #fff !important;
    background: $gray-base;
}


.more-link{display: block !important; overflow: hidden; clear: both !important; width: auto !important; margin: 1em 0 0 0}

// PAGINATION
.wp-pagenavi{
    text-align: center;
    margin: 0 0 1em 0;
    span, a{
        display: inline-block;
        padding: .4em .8em;
        margin: .5em;
        font: 1.6rem/2rem Arial !important;
        border: solid 1px #333;
        color: #fff;
        @include smooth(300ms);
    }
    .current{
        background: $primary !important;
        border-color:$primary;
    }
    a:hover{
        background: #333;
        @include smooth(300ms);
        color: #fff !important;
        text-decoration: none;
    }
}
